node_modules/
**/.DS_Store

.netlify

/storybook-static/*

coverage
report.json
test_results.txt

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
yarn-debug.log*
yarn-error.log*